<span class="cutoff-component" data-bind="ifnot: timerHide">
    <span translate="'You have'"></span>
    <span class="timer">
        <span class="timer-part timer-part-hours">
            <span class="numeric" data-bind="text: timerHours"></span>
            <span class="label" data-bind="i18n: 'hours'"></span>
        </span>
        <span class="timer-part timer-part-minutes">
            <span class="numeric" data-bind="text: timerMinutes"></span>
            <span class="label" data-bind="i18n: 'minutes'"></span>
        </span>
        <span class="timer-part timer-part-seconds">
            <span class="numeric" data-bind="text: timerSeconds"></span>
            <span class="label" data-bind="i18n: 'seconds'"></span>
        </span>
    </span>
    <span translate="'to catch our same day delivery offer.'"></span>
</span>